.tabs {
    position: relative;
    height  : 400px;

    &__nav {
        @include flex(center, space-around);
        width           : 600px;
        height          : 40px;
        position        : absolute;
        left            : 50%;
        transform       : translateX(-50%);
        background-color: #252525;
        color           : #D7D0D0;

        &__item {

            width : 200px;
            height: 40px;
            @include flex(center, center);
            border-right: 1px solid #fff;
            font-weight : 600;

            &.active {
                background-color: #D9D9D9;
                color           : #252525;
            }
        }
    }

    &__contents {
        width    : 600px;
        height   : 40px;
        position : absolute;
        top      : 50px;
        left     : 50%;
        transform: translateX(-50%);

        &__item {
            display: none;

            background-color: #D9D9D95E;
            height          : 300px;
            animation       : fadeOut 1s linear;

            &.active {
                display: block;


            }

            @keyframes fadeOut {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            table {
                padding-left: 50px;
                padding-top : 20px;

                tr {
                    height: 30px;

                    input {
                        height       : 25px;
                        width        : 242px;
                        background   : rgba(0, 0, 0, 0.19);
                        border       : 1px solid transparent;
                        border-radius: 10px;
                        outline      : none;
                        padding-left : 10px;
                    }

                    .btn {
                        background-color: #07CDAE;
                        width           : 187px;
                        height          : 30px;
                        font-size       : 1rem;
                        @include flex(center, center)
                    }
                }
            }
        }
    }
}